/*
Templete Name: one page
Author: Azharul
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {

}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
#header-section{
    background: url(img/header.png) no-repeat;
    background-size: cover;
    min-height:100%;
    min-width: 100%;
  
  
	
  /* Set up positioning */
  position: relative;
  top: 0;
  left: 0;
}
.navbar-default {
    margin-top: 55px;
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #040303;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
   
}
.navbar-default .navbar-nav>li>a:hover {
    color: #E84C3D;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
     margin-left: 15px;
}

.navbar-collapse{
    border: transparent;
    opacity: 0.99;
   
}

.navbar-default .navbar-toggle {
    border-color: #E84C3D;
}

.navbar-toggle, .icon-bar {
    border:1px solid #E84C3D;
}



.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    margin-left: 55px;
    text-align: center;
    
}
.header-content{
    margin-top: 50px;
    margin-left: 50px;
   
    
    
}
.item{
    height: 700px;
    width: 1200px;
    position: relative;
    z-index: 999;
}
.center h4{
    
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    transform: translateY(1050%);
    text-align: center;
    color: #333b46;
    letter-spacing: 3px;
    text-transform: uppercase;
     font-weight: 500;
   
}

.center p{
    
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    transform: translateY(1850%);
    text-align: center;
    color: #81868e;
    text-transform: uppercase;
    letter-spacing: 6px;
    
}


.right h4{
    
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    transform: translateY(750%);
    text-align: right;
    color: #333b46;
    margin-right: 100px;
    letter-spacing: 3px;
    text-transform: uppercase;
     font-weight: 500;
}

.right p{
    
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    transform: translateY(1330%);
    text-align: right;
    color: #81868e;
    margin-right: 100px;
    text-transform: uppercase;
    letter-spacing: 6px;
    
}

.left h4{
    
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    transform: translateY(1275%);
    text-align: left;
    color: #333b46;
    margin-left: 120px;
    letter-spacing: 3px;
    text-transform: uppercase;
     font-weight: 500;
}

.left p{
    
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    transform: translateY(2250%);
    text-align: left;
    color: #81868e;
    margin-left: 120px;
    text-transform: uppercase;
    letter-spacing: 6px;
    
}
.down-button{
    padding-bottom: 55px;
}

.down-button img{
    display: block;
    margin: 0 auto;
    padding: 15px;
    
}
.down-button a{
   text-align: center;
    color: #E84C3D;
    font-size: 16px;
    
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    
}

.down-button a:hover {
   text-align: center;
    color: #1AB3B3;
    font-size: 16px;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

 .owl-theme .owl-dots .owl-dot span {
    background-color: rgba(170, 170, 170, 0.88);
    height: 12px;
    width: 12px;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot.active:hover span {
    background-color: rgba(232, 76, 61, 0.88);
  }
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: rgba(232, 76, 61, 0.99);
      transition: 0.5s;
  }


.about-graxpo{
    padding: 115px 0px;
    background-color: #F3F3F3;
}

.about-graxpo h1{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #333b46;
    padding-bottom: 25px;
    font-weight: 500;
}

.border{
    border: 1px solid #8B8B8B;
    width: 50px;
  
}

.about-content p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
   
    padding: 40px 0px;
    color: #81868e;
    margin-right: 30px;
    line-height: 22px;

}


.paul-btn{
font-family: 'Roboto', sans-serif;
background: #E84C3D;
font-size: 16px;
padding: 15px 30px;
text-align: center;
color: #fff;
font-weight: 300;
text-decoration: none;
display: inline-block;
transition: .4s;
border: none;
margin-top: 25px;
text-transform: uppercase;
}

.paul-btn:hover{
	background: #E84C3E;
	text-decoration: none;
	color: #fff;
    text-transform: uppercase;
}

.paul-btn a{
	background: #E84C3E;
	text-decoration: none;
	color: #fff;
    text-transform: uppercase;
}
.paul-btn a:hover{
	background: #E84C3E;
	text-decoration: none;
	color: #fff;
    text-transform: uppercase;
}
.browser img{
    margin-left: 48px;
    margin-right: 48px;
}


.wedo-area{
    padding: 25px 0px;
    background: #F3F3F3;
    padding-bottom: 105px;
}
.wedo-content h1{
     font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #333b46;
    text-align: center;
     letter-spacing: 2px;
    text-decoration: none;
   padding-bottom: 20px;
}
.wedo-content .boderspace{
    border: 1px solid #ccc;
    width: 50px;
    margin-left: 48%;
    margin-right: 48%;
    margin-bottom: -20px;
    
}


.wedo-content p{
    font-size: 14px;
   font-family: 'Open Sans', sans-serif;
    color: #81868e;
    text-align: center;
    padding-top: 70px;
   padding-bottom: 90px;
    margin: 0px 320px;
    margin-bottom: -50px;
}

.single-wedo{
    border: 1px solid #E3E3E3;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px 0px;
    cursor: pointer;
    position: relative;
}

.single-wedo:hover{
    background: #E84C3D;
     color: #FFFFFF;
    transition: 0.7s;
}

.border-wedo{
     border: 1px solid #8B8B8B;
    width: 50px;
     display: block;
    margin: 0 auto;
  
}
.border-wedo:hover{
    border: 1px solid #fff;
    width: 50px;
  
}


.single-wedo i{
    float: left;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px 20px;
    font-size: 60px;
    background: #E84C3D;
    color: aliceblue;
    text-align: center;
    
}


.single-wedo i:hover{
    float: left;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px 20px;
    font-size: 60px;
    background: aliceblue;
    color: #E84C3D;
    text-align: center;
}


.wedo{
    margin-left: 150px;
}


.counter-area{
    padding: 145px 0px;
    background:#E84C3D;

}

.single-counter i{
    float: left;
    color: aliceblue;
    font-size: 30px;
    margin-right:15px;
      
  
}
.single-counter h4{
    color: aliceblue;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.counter h3{
    color: aliceblue;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.counter{
    margin-left: 60px;
}


.border-counter{
    border: 1px solid aliceblue;
    width: 50px;
  
}
.simple-steps{
    padding: 90px 0px;
    background-color: antiquewhite;
}
.simple-step h1{
    font-size: 19px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.simple-step p{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 50px;
  
}
.borderstep{
    border: 1px solid #8B8B8B;
    width: 50px;
     display: block;
    margin: 0 auto;

}


.single-step{
   
}
.single-step i{
 
    display: block;
    margin: 0 auto;
    
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 20px 30px;
    font-size: 60px;
    background: #E84C3D;
  color: azure;
    text-align: center;
    width: 35%;

}

.single-step h4{
    float: none;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 83px;
    
}
.single-step p{ 
    float: none;
    font-size: 14px;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
   margin: 50px 20px;

 
}
.spacer{
     border: 1px solid #8B8B8B;
    width: 265px;
    margin-left: 243px;
    margin-top: -50px;
}
.spacer2{
    border: 1px solid #8B8B8B;
    width: 20px;
    margin-left: 450px;
    margin-top: 10px;
}